:root {
  --my-text-color: #151360;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--my-text-color);
  line-height: 1.5;
  background-image: linear-gradient(
    #ebe8fc 0%,
    #ddd5f3 20%,
    #cec2eb 40%,
    #c0afe260 60%,
    #b19cd7 100%
  );
}

h1 {
  font-size: 40px;
}

h3 {
  border: medium dashed #151360;
}

a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  color: var(--my-text-color);
}

p {
  font-size: 20px;
}

footer {
  display: block;
  text-align: center;
}

#heroBanner {
  margin: 50px 30px 20px 30px;
  display: grid;
  min-height: 700px;
  grid-template-rows: 70% 30%;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "intro portrait"
    "about about";
}

#intro {
  grid-area: intro;
}

#portrait {
  grid-area: portrait;
  border-radius: 0.1%;
  background-image: url(/images/Image\ Small\ Background\ Removed.png);
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: about;
}

#verticalLine {
  margin: 50px 30px 20px 30px;
  display: flex;
  flex-direction: column;
}

#projects {
  display: grid;
  min-height: 500px;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "left-column top-row"
    "left-column middle-row"
    "left-column bottom-row";
}

#top-row {
  grid-area: top-row;
  border: medium solid #151360;
  background-image: url(/images/02-portfolio-1.jpg);
}

#middle-row {
  grid-area: middle-row;
  border: medium solid #151360;
  background-image: url(/images/02-portfolio-2.jpg);
}

#bottom-row {
  grid-area: bottom-row;
  border: medium solid #151360;
  background-image: url(/images/02-portfolio-3.jpg);
}

#contact-me {
  display: flex;
  flex-direction: row;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 20px 20px;
}

.heroBannerGrid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
